@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

.themeDark {
  --background-primary: #222831;
  --accent-color: #00ADB5;
  --text-color: #EEEEEE;
  background: #222831;
}

.themeLight {
  --background-primary: #FFFFFF;
  --accent-color: #008080;
  --text-color: #222831;
  background: #FFFFFF;
}

.themeYellow {
  --background-primary: #FFD369;
  --accent-color: #006F62;
  --text-color: #222831;
  background: #FFD369;
}

.themeMint {
  --background-primary: #A3F7BF;
  --accent-color: #29A19C;
  --text-color: #27323A;
  background: #A3F7BF;
}

.themeGreen {
  --background-primary: #03C988;
  --accent-color: #006AA3;
  --text-color: #13005A;
  background: #03C988;
}

.themePink {
  --background-primary: #F582A7;
  --accent-color: #00734C;
  --text-color: #180A0A;
  background: #F582A7;
}

.themeRed {
  --background-primary: #F05941;
  --accent-color: #872341;
  --text-color: #22092C;
  background: #F05941;
}

* {
  font-family: var(--font-mono);
  box-sizing: border-box;
}

ul {
  padding-left: 20px;
  list-style-type: circle;
}

html {
  overflow-y: scroll;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
}

.flex {
  display: flex;
}

.center {
  align-items: center;
  justify-content: center;
}