@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  max-width: 720px;
  margin: 0 auto;
  min-height: 100vh;
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

ul {
  padding-left: 20px;
  list-style-type: circle;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #EEEEEE;
  background: #222831;
}

a {
  color: #00ADB5;
}