@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --background-primary: #222831;
  --background-secondary: #393E46;
  --accent-color: #00ADB5;
  --text-color: #EEEEEE;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  max-width: 720px;
  margin: 0 auto;
  min-height: 100vh;
}

* {
  font-family: var(--font-mono);
  box-sizing: border-box;
}

ul {
  padding-left: 20px;
  list-style-type: circle;
}

html {
  overflow-y: scroll;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background: var(--background-primary);
  margin: 0;
  padding: 20px;
}

a {
  color: var(--accent-color);
}

.flex {
  display: flex;
}

.center {
  align-items: center;
  justify-content: center;
}