.container {
    padding: 20px;
    min-height: 100vh;
    background-color: var(--background-primary);
    color: var(--text-color);
}

.container a {
    color: var(--accent-color);
}

.limiter {
    max-width: 720px;
    margin: 0 auto;
}