.dark {
    --background-primary: #222831;
    --accent-color: #00ADB5;
    --text-color: #EEEEEE;
    background: #222831;
}

.light {
    --background-primary: #FFFFFF;
    --accent-color: #008080;
    --text-color: #222831;
    background: #FFFFFF;
}

.matrix {
    --background-primary: #000000;
    --accent-color: #00FF00;
    --text-color: #00FF00;
    background: #000000;
}

.itIsYourBirthday {
    --background-primary: #C0C0C0;
    --accent-color: #000000;
    --text-color: #A52A2A;
    background: #C0C0C0;
}

.verdao {
    --background-primary: #00532e;
    --accent-color: #CDDC39;
    --text-color: #FFFFFF;
    background: #00532e;
}